1. How many movies are there that begin with "A"? 

```sql
SELECT COUNT(*) 
FROM film
WHERE title LIKE 'A%';
```

This will find all movies that begin with either 'A' or 'a'. 
If we want to make it case sensitive and only find those that start with 'A', then we use SUBSTR() as it is case-sensitive:

```sql
SELECT COUNT(*) 
FROM film 
WHERE SUBSTR(title, 1, 1) = 'A';
```

The answer is 46 for either query as the database contains titles with captial letters only.

Notes:
- The LIKE operator is used in the WHERE clause to filter rows based on a specified pattern in a column. It is case-insensitive by default in most database systems. It uses a string literal value that represent a pattern within single quotes.

- Single Quotes: Always used for string literals.
- Double Quotes: Used for identifiers, especially when they contain special characters or are reserved keywords.

- The % wildcard represents any sequence of characters following the “A”.

- SUBSTR(string, start, length):
It is case sensitive.
If the start position is greater than the length of the string, the function returns an empty string.
If the length is omitted, the function returns the substring from the start position to the end of the string.
If any argument is NULL, the function returns NULL.

2. What is the longest movie? 

```sql
SELECT title, length
FROM film
WHERE length = (SELECT MAX(length) FROM film);
```

The longest film(s) are:
```
CHICAGO NORTH|185
CONTROL ANTHEM|185
DARN FORRESTER|185
GANGS PRIDE|185
HOME PITY|185
MUSCLE BRIGHT|185
POND SEATTLE|185
SOLDIERS EVOLUTION|185
SWEET BROTHERHOOD|185
WORST BANGER|185
```

3. What is the shortest movie?
```sql
SELECT title, length
FROM film
WHERE length = (SELECT MIN(length) FROM film);
```

The shortest film(s) are:
```
ALIEN CENTER|46
IRON MOON|46
KWAI HOMEWARD|46
LABYRINTH LEAGUE|46
RIDGEMONT SUBMARINE|46
```

4. What is the average length of a movie? 

```sql
SELECT AVG(length) FROM film;
```

This gives an average value of 115.272.

5. What is the most common rental rate for movies? 

```sql
SELECT rental_rate
FROM film
GROUP BY rental_rate
HAVING COUNT(*) = (
    SELECT COUNT(*)
    FROM film
    GROUP BY rental_rate
    ORDER BY COUNT(*) DESC
    LIMIT 1
);
```
This query will select all of the equally common rental rates (if any). In this case, the most common rental rate(s) is only 0.99.

6. How many movies are there for each rental rate? 

```sql
SELECT rental_rate, COUNT(*) AS freq
FROM film
GROUP BY rental_rate
ORDER BY freq DESC;
```

The number of movies for each rental rate is:
```
0.99|341
4.99|336
2.99|323
```

7. Of the years covered, what was the most popular year for movies?

```sql
SELECT release_year
FROM film
GROUP BY release_year
HAVING COUNT(*) = (
    SELECT COUNT(*)
    FROM film
    GROUP BY release_year
    ORDER BY COUNT(*) DESC
    LIMIT 1
);
```
This query will select all of the equally popular years (if any). In the case, the most popular year(s) is only 2006.

```
SELECT release_year: This part of the query selects the release_year column.
FROM film: Specifies the table from which to retrieve the data.
GROUP BY release_year: Groups the rows by the release_year column --> When using the GROUP BY clause, all columns in the SELECT statement that are not part of an aggregate function (e.g., count()) must be included in the GROUP BY clause.
ORDER BY COUNT(*) DESC: Orders the results by the count of movies in descending order --> Can inlcude columns even if not specified in SELECT.
LIMIT 1: Limits the result to the year with the highest count of movies.

In SQL, you cannot directly use aggregate functions like COUNT() in the WHERE clause. Instead, you should use the HAVING clause for conditions that involve aggregate functions. The WHERE clause is used to filter rows before any groupings are made, while the HAVING clause is used to filter groups after the GROUP BY clause has been applied.
```

8. What is the longest title for a movie? 

```sql
SELECT title
FROM film
WHERE LENGTH(title) = (SELECT MAX(LENGTH(title)) FROM film);
```

The answer is: ARACHNOPHOBIA ROLLERCOASTER
The query will list all titles that have the same maximum length.

9. What are the 10 longest movies, listed alphabetically? 

```sql
SELECT title
FROM film
ORDER BY length DESC, title ASC
LIMIT 10;
```

The result is:
```
CHICAGO NORTH
CONTROL ANTHEM
DARN FORRESTER
GANGS PRIDE
HOME PITY
MUSCLE BRIGHT
POND SEATTLE
SOLDIERS EVOLUTION
SWEET BROTHERHOOD
WORST BANGER
```

10. Can you discover any other interesting facts about movie titles, in general? For instance, how many titles include the word "after"? 

```sql
SELECT COUNT(*)
FROM film
WHERE title LIKE '%after%';
```

There are 0 movies with the word after.